version: '3.8'

services:
  php-apache-environment:
    container_name: php-webapp
    build:
      context: ./php
      dockerfile: Dockerfile
    depends_on:
      - db
    volumes:
      - ./php/scr:/var/www/html/
    ports:
      - 8080:80 

  db:
    container_name: db
    image: mysql:latest
    restart: always
    environment: 
      MYSQL_ROOT_PASSWORD: MYSQL_ROOT_PASSWORD
      MYSQL_DATABASE: u576316930_nupj
      MYSQL_USER: MYSQL_USER
      MYSQL_PASSWORD: MYSQL_PASSWORD
    ports:
      - "3306:3306"  # Changed to default MySQL port for easier access

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
     - "8000:80"
    restart: always
    environment:
      PMA_HOST: db
    depends_on:
      - db
x
networks:
  default:
    name: web_network
